.cover__subtitle {
  max-width: 230px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 32px 0;
  }
}

@media screen and (max-width: 568px) {
  .cover__subtitle {
    max-width: 180px;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 16px 0;
  }
}
